name: "Build web export and release on itch io"
on:
  push:
    tags:
      - '**'

env:
  GODOT_VERSION: 4.3.stable
  EXPORT_NAME: freezy-the-frozen-lake-courier
  ITCHIO_USERNAME: indigomountain
  ITCHIO_GAME: freezy-the-frozen-lake-courier
  BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
  
jobs:
  export-web:
    name: Web Export
    runs-on: ubuntu-20.04
    container:
      image: barichello/godot-ci:4.3
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          cd /root/.local/share/godot/templates/
          mv /root/.local/share/godot/templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Build Web
        run: |
          mkdir -v -p build/web
          godot -v --export-release "Web" --headless ./build/web/index.html
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: web
          path: build/web
      - name: Release on itch.io
        run: |
          butler push ./build/web $ITCHIO_USERNAME/$ITCHIO_GAME:web

        
